html,
body {
  height: 100%;
}

.navigation {
  background-color: #ed7966;
}

.body {
  background-color: #f5cac2;
}

.cont {
  background-color: #fae5df;
  min-height: 100%;
}

.blackColour {
  color: #000000;
}

.blackColour2 {
  color: #303179;
}

.whiteColour {
  color: #fae5df;
}

.imgDiv {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.imageDiv {
  padding-left: 200px;
  padding-right: 200px;
}

.img {
  width: 200px;
  border-radius: 25px;
}

.inpt {
  border: 1px solid #ed7966;
}

.btton {
  color: white;
  background-color: #834e46;
  width: 100px;
  margin: 10px;
}
.btton:hover {
  background-color: #834e46;
  color: white;
  width: 100px;
  margin: 10px;
  border: 2px solid #0b0c50;
}

a:hover {
  color: white;
  text-decoration: none;
}

.followers {
  height: 58px;
  width: 291px;
}
footer {
  position: absolute;
  bottom: 110px;
  width: 66%;
  height: 60px; /* Height of the footer */
  left: 16.9%;
}
